<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ML Project</title>
    </head>
    <body>
        <center>
        <h1>Lung Cancer Prediction</h1>
        <div class="container">
            <form action="/sub" method="POST">
                <input type="text" name="fname" placeholder="Enter First Name"><br><br>
                <input type="text" name="lname" placeholder="Enter Last Name"><br><br>
                <input type="number" min = "0" name="age" placeholder="Enter Age"><br><br>
                <input type="number" min = "0" name="smoke" placeholder="Enter Smoke Qunt"><br><br>
                <input type="number" min = "0" name="areq" placeholder="Enter areaq"><br><br>
                <input type="number" min = "0" name="liquor" placeholder="Enter LiquorQunt"><br><br>
                <input type="submit"><br><br>

            </form>
        </div>
    </center>
        
    </body>
    </html>